body {
    background-color: #282c34;
}

.textcontainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: green;
}